
html {
  height: 100%;
  background-image: linear-gradient(to right top, #000000, #1f0011, #2c0023, #33003c, #2a005c);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed
}

body{
  text-align: center;
}

#heading-table{
  width : 800px;
  margin : 0 auto;
}

.heading {
  margin-top : 0% ;
  font-size : 64px ;
  font-family: 'Shadows Into Light', cursive;
  color: #DBEDF3;
  text-shadow: 3px 0 red;
}

.heading-2{
  font-size : 36px;
  font-family : "Shadows Into Light", cursive;
  color: #DBEDF3;
  text-shadow: 3px 0 red;
}

.image{
  margin-top : 2%;
}

#beat-table{
  width : 500px ;
  margin-right: 0;
  margin-left: auto;
  text-align: center;
}

.table-data{
  width : 20% ;

}

#beat-table td{
}

.play-button{
  text-align: right;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: transparent;
  align-items: center;
  border-radius: 50%;
  border-color : transparent ;
  position: relative;
  margin-top: 1%;
  margin-left : 10%;
  display: flex;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 128, 0.8);
}

.play-button::after {
  content: "";
  position: absolute;
  left : 20px;
  top: 25%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #FBE6E1;
  border-bottom: 10px solid transparent;
}

.beat-song{
  width : 50%;
  font-family: 'Redressed', cursive;
  font-size : 20px ;
  color : #FBE6E1 ;
  text-align : left ;
}
